[Unit]
Description=HashiCorp Boundary

[Service]
ExecStart=/usr/local/bin/boundary -config /etc/boundary.d/config.hcl
User=boundary
Group=boundary
LimitMEMLOCK=infinity
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK

[Install]
WantedBy=multi-user.target